
        body{
            font-size: 16px;
        }

        h1{
            font-size: 65px;
            font-family: sans-serif;
            color: orange;
        }
        p{
            font-weight: 600;
            font-size: 3em;
        }

        ul{
            color: rgb(228, 228, 228);
            text-align: right;
        }

        .fundo{
            background-color: rgba(255, 109, 255, 0.651);
            line-height: 40px;
            
        }
        #li1{
            color: yellow;
        }
        #li2{
            color: red;
        }
        #li3{
            color: maroon;
        }
